*.suo
*.user
*.cache
*.ncb
*.log
*.jbf
*.sdf
*.cachefile
*.orig
*.pidb
*.userprefs
.DS_Store
thumbs.db
UpgradeLog.xml
cachefile-*
Test/Content/
Scratch/
Debug/
Release/
bin/
obj/
_UpgradeReport_Files/
ItemTemplates/*.zip